.hv_change:hover{
    cursor: hand;
}
.brd_img{
    padding: 35px;
    background: #fff url(../img/nannybg.png) no-repeat right bottom;;
}

.fileRadioBox{
   border: 1px solid #dddddd;
    background: #ffffff;
    padding: 4px 0;
}
hr{
    border-top: 1px solid #ccc;
}

.btn-blue{
    background-color: #20A8D8;
}
.txt-clr{
    color:#20A8D8;
}
.datepicker {
    margin: 0 5px;
}

.datepicker .btn-default {
    border-width: 0;
    box-shadow: none;
}

.datepicker .btn[disabled] {
    opacity: 0.4;
}

.datepicker .btn-info .text-info {
    color: #fff !important;
}



.content{
    min-height: 100%;
    padding: 90px 40px 40px;
    background-color: #eee
}
.widget-invoice {
    padding: 40px;
}
.widget {
    position: relative;
    margin-bottom: 30px;
    padding: 15px 20px;
    background: #fff;
    border-radius: 3px;
}
.content-wrap {
    position: relative;
    z-index: 0;
    height: 100%;
}
.btn-inverse {
    color: #fff;
    background-color: #555;
    border-color: #3c3c3c;
}